/* @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,600;1,400&family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Cairo:wght@200;300;400;700&family=Commissioner:wght@400;500;700&family=DM+Sans:ital,wght@0,700;1,400&family=Inter:wght@300;500;700&family=Josefin+Sans:wght@300;400;600&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@600;700;800&family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,500;1,700&family=Outfit:wght@300;400;600;700&family=Overpass:wght@400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;700&family=Red+Hat+Display:ital,wght@1,900&family=Space+Grotesk:wght@500&family=Space+Mono:wght@700&family=Work+Sans&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Open Sans', sans-serif;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 25px;
  font-weight: bold;
}
.container {
  margin:80px  auto ;
  width: 1500px;
}
.game-info {
  display: flex;
}

.game-info .game-name {
  flex: 1;
}

.game-info .counter {
  flex: 1;
  text-align: right;
  margin-right: 30px;
}

.game-info .counter span {
  color: #E91E63;
  font-weight: bold;
}
.row {
display: flex;
justify-content: space-around;
}
.hangman-draw {
  width: 600px;
  background-color: #eae8e8;
  padding: 20px;
  height: 324px;
}
.hangman-draw .the-draw {
  width: 60px;
  height: 280px;
  border-bottom: 4px solid #222;
  position: relative;
  margin: auto;
  left: -60px;
  display: none;
}
.hangman-draw .the-stand {
  position: absolute;
  width: 4px;
  background-color: #222;
  height: 100%;
  left: 50%;
  margin-left: -2px;
  display: none;
}
.hangman-draw .the-hang {
  display: none;
}
.hangman-draw .the-hang:before {
  content: '';
  position: absolute;
  height: 4px;
  background-color: #222;
  width: 100px;
  left: 30px;
  top: 15px;
}
.hangman-draw .the-hang:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 30px;
  background-color: #222;
  left: 130px;
  top: 15px;
}
.hangman-draw .the-rope {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 95px;
  top: 45px;
  border: 4px dashed #222;
  display: none;
}
.hangman-draw .the-man .head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #222;
  position: absolute;
  left: 105px;
  top: 55px;
  display: none;
}
.hangman-draw .the-man .body {
  position: absolute;
  background-color: #222;
  width: 4px;
  height: 110px;
  top: 102px;
  left: 130px;
  display: none;
}
.hangman-draw .the-man .hands {
  display: none;
}
.hangman-draw .the-man .hands:before {
  left: 85px;
  transform: rotate(30deg);
}
.hangman-draw .the-man .hands:after {
  left: 130px;
  transform: rotate(-30deg);
}
.hangman-draw .the-man .hands:before,
.hangman-draw .the-man .hands:after {
  content: '';
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #222;
  top: 140px;
}
.hangman-draw .the-man .legs {
  display: none;
}
.hangman-draw .the-man .legs:before {
  left: 85px;
  transform: rotate(-30deg);
}
.hangman-draw .the-man .legs:after {
  left: 130px;
  transform: rotate(30deg);
}
.hangman-draw .the-man .legs:before,
.hangman-draw .the-man .legs:after {
  content: '';
  width: 50px;
  position: absolute;
  height: 4px;
  background-color: #222;
  top: 220px;
}
.hangman-draw.wrong-1 .the-draw {
  display: block;
}
.hangman-draw.wrong-2 .the-stand {
  display: block;
}
.hangman-draw.wrong-3 .the-hang {
  display: block;
}
.hangman-draw.wrong-4 .the-rope {
  display: block;
}
.hangman-draw.wrong-5 .head {
  display: block;
}
.hangman-draw.wrong-6 .body {
  display: block;
}
.hangman-draw.wrong-7 .hands {
  display: block;
}
.hangman-draw.wrong-8 .legs {
  display: block;
}
.letters {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px ;
  text-align: center;
  justify-content: center;
  padding: 10px;
}
hr {
  margin: 50px 0;
}
.letters span {
  width: 60px;
  height: 60px;
  background-color: #009688;
  color: white;
  cursor: pointer;
}
.letters-guess {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.letters-guess span {
  padding: 0 20px;
  border-bottom: 1px black solid;
  margin: 0 5px;
}
.result {
background-color: #eee;
margin: 70px  auto 10px;

}
.result p {
font-size: 70px;

}
.letters.stop-clicking {
  pointer-events: none;
}
.popup {
  position: fixed;
    background-color: #009688;
    padding: 100px 20px;
    width: 75%;
    top: 12%;
    left: 10%;
    text-align: center;
    font-size: 40px;
    border: 1px solid #CCC;
    color: #FFF;
    opacity: 0.95;
    border-radius: 5px;
}
.btn {
  padding: 10px 40px ;
  background-color: #009688;
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
  display: none;

}